<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            Product
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                            <% if ( locals.productToEdit) { %>
                                <form id="updateProductForm" class="form-validate" action="" method="post"
                                    enctype="multipart/form-data">
                                    <input type="hidden" name="id" id="val-id" value="<%- locals.productToEdit.id %>">

                                    <% }else{ %>
                                        <form id="addProductForm" class="form-validate" action="" method="post"
                                            enctype="multipart/form-data">
                                            <% }; %>
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="form-group row">
                                                            <label class="col-lg-4 col-form-label" for="val-title">Title
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <input type="text" class="form-control" id="val-title"
                                                                    name="title" placeholder="Enter a title"
                                                                    value="<%- (locals.productToEdit) ? productToEdit.title : '' %>">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-4 col-form-label" for="val-price">Price
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <input type="number" class="form-control" id="val-price"
                                                                    name="price" placeholder="Enter Price"
                                                                    value="<%- (locals.productToEdit) ? productToEdit.price : '' %>">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-4 col-form-label"
                                                                for="val-description">Description<span
                                                                    class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <input type="text" class="form-control"
                                                                    id="val-description" name="description"
                                                                    placeholder="Enter Description"
                                                                    value="<%- (locals.productToEdit) ? productToEdit.description : '' %>">

                                                            </div>

                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-4 col-form-label" for="val-skill">
                                                                Category
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <select class="form-control" id="val-category-id"
                                                                    name="category_id">
                                                                    <option value="">Please select</option>
                                                                    <% allCategoryNamesWithIds.forEach(category=> { %>
                                                                        <option <%-(locals.productToEdit &&
                                                                            locals.productToEdit.category_id==category.id)
                                                                            ? 'selected' : '' %> value="<%= category.id
                                                                                %>">
                                                                                <%= category.title %>
                                                                        </option>
                                                                        <% }); %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-lg-4 col-form-label" for="val-skill">
                                                                Image
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-6">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Upload</span>
                                                                    </div>
                                                                    <div class="custom-file">
                                                                        <input id="val-image" type="file" name="image"
                                                                            class="custom-file-input"
                                                                            value="<%= (locals.productToEdit) ? productToEdit.image : '' %>">
                                                                        <label class="custom-file-label">Choose
                                                                            file</label>
                                                                    </div>
                                                                    <% if ( locals.productToEdit) { %>
                                                                        <div class="d-flex align-items-center"><img
                                                                                src="/uploads/product/<%= locals.productToEdit.image %>"
                                                                                class="rounded-lg mr-2" width="24"
                                                                                alt=""></div>
                                                                        <% } %>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="submit" class="btn btn-primary"
                                                            id="submitProduct">
                                                            <%- (locals.productToEdit) ? 'Update' : 'Add' %>
                                                        </button>
                                                        <% if(locals.productToEdit) {%>
                                                            <a class="btn btn-secondary"
                                                                href="<%- base_url %>product">Back</a>
                                                            <% } %>
                                                    </div>
                                                </div>
                                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md">
                                <thead>
                                    <tr>
                                        <th style="width:80px;"><strong>#</strong></th>
                                        <th><strong>TITLE</strong></th>
                                        <th><strong>PRICE</strong></th>
                                        <th><strong>DESCRIPTION</strong></th>
                                        <th><strong>CATEGORY</strong></th>
                                        <th><strong>IMAGE</strong></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="productTableBody">
                                    <% products.forEach((product, index)=> { %>
                                        <tr>
                                            <td><strong>
                                                    <%= index + 1 %>
                                                </strong></td>
                                            <td>
                                                <%= product.title %>
                                            </td>
                                            <td>
                                                <%= product.price %>
                                            </td>
                                            <td>
                                                <%= product.description %>
                                            </td>
                                            <td>
                                                <%= allCategoryNamesWithIds.find(category=> product.category_id ==
                                                    category.id).title %>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center"><img
                                                        src="/uploads/product/<%= product.image %>"
                                                        class="rounded-lg mr-2" width="24" alt=""></div>
                                            </td>


                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn btn-success light sharp"
                                                        data-toggle="dropdown">
                                                        <svg width="20px" height="20px" viewBox="0 0 24 24"
                                                            version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                                <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                                <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                                <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item"
                                                            href="<%- base_url %>product/edit/<%= product.id %>">Edit</a>


                                                        <button class="dropdown-item"
                                                            onclick="deleteProduct('<%= product.id %>')">Delete</button>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }); %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>